.container {
    display: flex;
  }
  
  
  .grid {
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: #f8f8fa;
    border-color: #c0c2ce;
    border-width: 5%;
  }
  
  .grid div {
    height: 20px;
    width: 20px;
  }
  
  .tetromino {
    background-color: blue;
  }
  
  
  .mini-grid {
    margin-left: 50px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: #bab2b5;
  }
  
  .mini-grid div {
    height: 20px;
    width: 20px;
  }
